---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Derecho Mercantil y Societario",
    description:
      "Expertos en constitución de empresas, disoluciones, pactos societarios y Ley Concursal.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Reclamación de deuda",
    description:
      "Especialistas en reclamación y negociación de todo tipo de deudas, no des nada por perdido.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Gestión de carteras de deuda",
    description:
      "Especialistas en investigación, procedimientos y negociación de carteras de deuda.",
    icon: "bx:bxs-data",
  },
  //  icon: "bx:bxs-bot",
  //  icon: "bx:bxs-file-find",
  //  icon: "bx:bxs-user",
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Especialistas en confianza y transparencia.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Entiende tus posibles acciones, los riesgos asociados y su coste. Sin complicaciones.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
