<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    <a href="/legal" rel="nofollow" class="pr-2">Aviso legal</a>
    <a href="/privacidad" rel="nofollow">Política de privacidad</a>
  </p>

  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Dialoga Abogados.
  </p>
</footer>
