---
import { Picture } from "astro:assets";
import heroImage from "assets/abogada-2.jpg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Abogado en Madrid"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Tu abogada de confianza.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      El derecho entendido de forma sencilla, clara y transparente.<wbr /> Más de 15 años de experiencia a tu servicio en derecho procesal, civil y mercantil.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contacto"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="uil:envelope" />

         Contacta conmigo
      </Link>
    </div>
  </div>
</main>
